body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.666;
  background: white;
  color: #555;
  margin: 0 auto;
}

footer {
  background-color: #e9eaea;
  margin: auto -16px;
  padding: 16px 32px 165px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header {
  background-color: #136d74;
  margin: auto -16px;
  padding: 50px 32px 90px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  font-size: 40px;
  color: white;
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 500%;
  text-align: center;
  margin-top: 4rem;
  color: #fff;
  line-height: 1.2;
}

h1 span {
  padding: 5px 15px;
  background: #2ec2b0;
}

.dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 32px auto 4rem;
  max-width: 90%;
  margin-top: 470px;
  margin-bottom: 200px;
}

.dictionary > .term {
  text-align: center;
  max-width: 26rem;
  max-height: 40rem;
  margin-bottom: 6rem;
  /* padding: 2rem; */
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 100ms ease-in-out;
  height: 350px;
}

dt {
  color: #2ec2b0;
  line-height: 1;
}

dt span {
  font-size: 200%;
  font-weight: 900;
}

dt img {
  width: 100%;
  height: 350px;
}

.emoji {
  margin: 0 auto;
  display: block;
  font-size: 400%;
}

dd dt {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: inherit;
}

dd dl {
  font-size: 90%;
  margin: 1rem auto 0 auto;
  letter-spacing: 0.33px;
  max-width: 15rem;
}

dd dl .term {
  margin-bottom: 1rem;
}

/* Name and price of the product */
.nameAndPrice {
  width: 100%;
  font-size: 25px;
  position: relative;
  bottom: 172px;
  border: 1px solid;
  border-radius: 15px;
  height: 60px;
}

.prodName {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 50%;
  text-align: left;
  top: 10px;
}

.prodPrice {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 50%;
  text-align: right;
  top: 10px;
}

/* increase and decrease button with the amount as integer */
.numberOfItems {
  width: 100%;
  position: relative; 
   bottom: 190px;
}

.increBtn {
  position: relative;
  padding: 0px 88px;
  border-radius: 15px;
  outline: none;
  top: 18px;
  font-size: 60px;
  opacity: 0.9;
}

.decreBtn {
  position: relative;
  padding: 0px 88px;
  border-radius: 15px;
  outline: none;
  top: 18px;
  font-size: 60px;
  opacity: 0.9;
}

.amount {
  display: inline-block;
  width: 8%;
  font-size: 25px;
}
.amountOnItem{
  background-color: white;
  position: relative;
  bottom: 360px;
  border-radius: 15px;
  width: 25%;
  opacity: 0.9;
  right: 1px;
}

/* checkout Button */
.checkOutBtn {
  background-color: #ff5f40;
  border: 2px solid #ff5f40;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 94%;
  position: relative;
  left: 3%;
  border-radius: 15px;
  display: block;
  outline: none;
}

.checkOutBtn:hover {
  background-color: white;
}

/*Footer Icon*/
.homeFooter{
  position: absolute;
  left: 40px;
}

.infoFooter{
  position: absolute;
  right: 40px;
}

.refundIcon {
  position: absolute;
  right: 45%;
}

/* cart with number */
.fa-stack[data-count]:after {
  content: attr(data-count);
  font-size: 40%;
  padding: 0.6em;
  border-radius: 999px;
  line-height: 0.75em;
  color: white;
  color: #df0000;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: white;
  border-style: solid;
}
.fa-circle {
  color: #2ec2b0;
}

.red-cart {
  color: #2ec2b0;
  background: white;
}

/*header of cart and shop*/
.shopAndFarmHeader{
  display: inline-block;
}

.h2HeaderCart{
  display: inline-block;
  font-size: 70px;
  position: relative;
  bottom: -10px;
}

.h2Header{
  display: inline-block;
  font-size: 70px;
  position: relative;
  bottom: 40px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-left: 18px;
}

.blackHrHeaderSHop{
  position: relative;
    bottom: 120px;
    /* color: black; */
    border-color: black;
}

#ex4{
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 35px;
}

#ex4 .p1[data-count]:after{
  position:absolute;
  right:10%;
  top:8%;
  content: attr(data-count);
  font-size:40%;
  padding:.2em;
  border-radius:50%;
  line-height:1em;
  color: red;
  background:white;
  text-align:center;
  min-width: 1em;
  z-index: 10;
}

.backArrow{
  position: absolute;
  top: 100px;
  left: 50px;
}

.stickyFooter{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  font-size: 30px;
  text-align: center;
}

/*all css for cart page*/
.backArrowCart{
  position: absolute;
  top: 100px;
  left: 50px;
}

.userIconHeader{
  position: absolute;
  left: 50px;
  bottom: 160px;
}

.stickyCart {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 180px;
}

.stickyFooterCart{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}



/* make link /a href white*/
.link {
  color: white;
  text-decoration: none;
}

.link4Button {
  color: #cecece;
  text-decoration: none;
}

.linkFooter{
  color: #afafaf;
  text-decoration: none;
}

/* .link:hover {
   color: #FF8500
} */

.colorClick{
  color: #FF8500
}

/*css for searching in shopping cart*/
.sort1{
  position: absolute;
  top: 220px;
  left: 7%
}
.sort2{
  position: absolute;
  left: 26%;
  top: 220px;
}
.positioningSsort2{
  position: relative;
  left: 80px;
}

.sort3{
  position: absolute;
  top: 220px;
  right: 30%;
}
.positioningSsort3{
  position: relative;
  left: 25px;
}
.sort4{
  position: absolute;
  right: 7%;
  top: 220px;
}

.iconBlock{
  display: block;
  height: 120px;
}


.cartPageBody{
  margin-top: 220px;
  font-size: 30px;
  text-align: center;
}

.colorGreen{
  color: #136d74;
  display: inline-block;
  position: absolute;
  left: 3%;
}

.colorGreenDelivery{
  color: #136d74;
  display: inline-block;
  position: relative;
  right: 190px;
}

.h3InfoText{
  display: inline-block;
  width: 500px;
  position: relative;
  left: 20%;
  text-align: left;
}

.hrsection{
  margin: 40px auto;
}

/*css for 4 buttons footer*/
.homeIcon{
  position: absolute;
  left: 5%;
  bottom: 10px;
}

.orderIcon{
  position: absolute;
  left: 30%;
  bottom: 10px;
}

.infoIcon{
  position: absolute;
  right: 34%;
  bottom: 10px;
}

.userIcon{
  position: absolute;
  right: 7%;
  bottom: 10px;
}

/*Here is the section for all the css of checkout page page*/
.threeBottonOrders{
  position: relative;
  right: 16px;
  bottom: 50px;
}

.checkoutAndRefundBtn{
  width: 33%;
  height: 100px;
  font-size: 40px;
  background-color: #136d74;
  color: white;
  outline: none;
}

.HistoryButton{
  width: 34%;
  height: 100px;
  font-size: 40px;
  background-color: #136d74;
  color: white;
  outline: none;
}

.contentLeft{
  width: 50%;
  float: left;
  font-size: 38px;
  position: relative;
  left: 35px;
  color: #136d74;
}

.contentRight{
  width: 50%;
  float: right;
  font-size: 35px;
}

.eachBlockDiv{
  margin-top: 40px;
  width: 100%;
  height: 130px;
}

.firstBlockDiv{
  margin-top: 330px;
  width: 100%;
  height: 130px;
}

.eachBlockDiv2{
  margin-top: 40px;
  width: 100%;
  height: 220px;
}

.eachBlockDiv3{
  margin-top: 40px;
  width: 100%;
  height: 80px;
}

.addMoreBtn{
  background-color: #ff5f40;
  font-size: 35px;
  float: right;
  color: white;
  outline: none;
  position: relative;
  right: 30px;
  border-radius: 15%;
}

/*css for cartItem component*/
.priceRight{
  font-size: 35px;
  float: right;
  position: relative;
  right: 30px;
}

.counterItemCart{
  display: inline-block;
  width: 80px;
  text-align: center;
  color: #FF8500
}

.contentRight1{
  width: 40%;
  float: right;
  font-size: 35px;
}

.contentLeft1{
  width: 53%;
  float: left;
  font-size: 35px;
  position: relative;
  left: 35px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  /* -webkit-overflow-scrolling: touch; */
}

.card {
  display: inline-block;
  height: 250px;
  margin: auto 50px;
}

.lineAboveCoupon{
  font-size: 30px;
  margin: 30px auto 20px;
  position: relative;
  left: 30px;
  display: inline-block;
}

.justMakeSpace{
  margin-bottom: 300px;
  margin-top: 100px;
}

.PayBtn{
  font-size: 35px;
  width: 90%;
  position: relative;
  left: 5%;
  border-radius: 15px;
  height: 80px;
  color: #FF8500;
  outline: none;
}

.colorPromo{
  color: #136d74;
}